<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
    <div>
      <input type="text" 
      formControlName="FirstName" 
      placeholder="first name">
      <label style="color:red"
       *ngIf=
      "formGroup.get('email').invalid && 
      formGroup.get('email').touched &&
      formGroup.get('email').errors['email']
      ">Required.</label>
    </div>
    <div>
        <input type="text" 
        formControlName="lastName" 
        placeholder="last name">
      </div>
      <div>
          <input type="text" 
          formControlName="email" 
          placeholder="email">
        </div>
        <div>
            <input type="number" 
            formControlName="age" 
            placeholder="age"
            max="99"
            min="0">
          </div>
      <button>submit</button>
  </form>